#main-nav {
  .container {
    display: block;
    padding-bottom: 0.4rem;
  }
  .logo {
    margin: 0 auto;
  }
  .menu {
    justify-content: center;
    li {
      a {
        padding: 0.3rem 0.5rem;
      }
    }
  }
}

#features .features-container , #work-details, #who, #clients .container, #work .items, #contact .contact-details {
  grid-template-columns: 1fr !important;
}

#main-footer {
  display: block;
  .social-menu {
    justify-content: center;
    margin-top: 0.8rem;
  }
}

#feedback {
  .feedback-container {
    grid-template-columns: 1fr;
    .feedback-img {
      order: 1;
      img {width: 90%;}
    }
    .feedback-form {
      order: 2;
    }
  }

}